.email {

  .container {
    max-width: 700px;
  }

  .logo {
    justify-content: center;
    margin-bottom: 40px;
    padding: 0px 15%;
  }

  .image {
    margin-bottom: 30px;
  }

  .url {
    font-size: 1rem;
  }

  .button {
    margin-bottom: 10px;
  }

}