<section id="index__info_bar" class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Location</p>
          <p class="title"><%= searched_location(@coffee_shops_params[:location]) %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Average Wifi Speed</p>
          <p class="title"><%= average_wifi_speed(@coffee_shops_params[:location]) %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Listings on RemoteKick</p>
          <p class="title"><%= total_listings_count(@coffee_shops_params[:location]) %></p>
        </div>
      </div>
    </nav>
  </div>
</section>