
<nav class="level is-mobile">
  <div class="level-left">
    <div class="level-item has-text-left">
      <div>
        <p class="heading">Displaying</p>
        <p class="title is-5"><%= @coffee_shops.count(:all) %> listings</p>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item has-text-right">
      <div class="field">
        <div class="control">
          <div class="select is-primary" data-controller="index-cards-ordering set-selected-option">
            <select name="Order by" data-action="change->index-cards-ordering#goToUrl">
              <%= order_by_options %>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>