<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Location</p>
      <p class="title is-size-6-touch"><%= searched_location(@coffee_shops_params[:location]) %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Avg. Wifi Speed</p>
      <p class="title is-size-6-touch"><%= average_wifi_speed(@coffee_shops_params[:location]) %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Total Listings</p>
      <p class="title is-size-6-touch"><%= total_listings_count(@coffee_shops_params[:location]) %></p>
    </div>
  </div>
</nav>