
<nav class="level is-mobile">
  <div class="level-left">
    <div class="level-item has-text-left">
      <div>
        <p class="heading">Displaying</p>
        <p class="title is-5"><%= @coffee_shops.count(:all) %> listings</p>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item has-text-right">
      <div class="field">
        <div class="control">
          <div class="select is-primary" data-controller="index-cards-ordering">
            <select name="Order by" data-action="change->index-cards-ordering#url">
              <%= options_for_select([
              ["Top rated", { :data => { :url => "#{url_for(request.params.merge(:order_by => "rating"))}", :target => 'index-cards-ordering.ordertype', :selected => "#{params[:order_by] == "rating"}"}}],
              ["Distance", { :data => { :url => "#{url_for(request.params.merge(:order_by => "distance"))}", :target => 'index-cards-ordering.ordertype', :selected => "#{params[:order_by] == "distance"}"}}],
              ["Wifi Speed", { :data => { :url => "#{url_for(request.params.merge(:order_by => "wifi_speed"))}", :target => 'index-cards-ordering.ordertype', :selected => "#{params[:order_by] == "wifi_speed"}"}}],
              ["Price", { :data => { :url => "#{url_for(request.params.merge(:order_by => "price"))}", :target => 'index-cards-ordering.ordertype', :selected => "#{params[:order_by] == "price"}"}}]
              ]) %>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>