<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Wifi Speed</p>
          <p class="title"><%= coffee_shop.wifi_speed %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Price</p>
          <p class="title">
            <i class="fas fa-dollar-sign has-text-primary"></i>
            <i class="fas fa-dollar-sign has-text-primary"></i>
            <i class="fas fa-dollar-sign"></i>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Comfort</p>
          <p class="title">
            <!-- <%= raw coffee_shop.display_icons("comfort") %> -->
            <i class="fas fa-smile has-text-primary"></i>
            <i class="fas fa-smile has-text-primary"></i>
            <i class="far fa-smile"></i>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Plug sockets</p>
          <p class="title">
            <%= raw coffee_shop.display_icons("plug_sockets") %>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Busyness</p>
          <p class="title">
            <%= raw coffee_shop.display_icons("busyness") %>
          </p>
        </div>
      </div>
    </nav>
  </div>
</section>