<% @coffee_shops.each do |coffee_shop| %>
  <h2><%= coffee_shop.name %></h2>
  <p><%= coffee_shop.description %></p>
  <p><%= coffee_shop.rating %></p>
<% end %>

<h1> You've reached coffee shops > index </h1>
