<% @coffee_shops.each do |coffee_shop| %>
  <h2>Name: <%= coffee_shop.name %></h2>
  <p>Description: <%= coffee_shop.description %></p>
  <p>Rating: <%= coffee_shop.rating %></p>
  <p>Wifi Speed: <%= coffee_shop.feature_set.wifi_speed.upload_speed %></p>
<% end %>
