<div class="container">
  <div class="row">
    <div class="col-3" style="background-color:blue;">
      <form action="/coffee_shops" method="get">
        <div>
          <input type="checkbox" id="serves_plant_milk_checkbox" name="serves_plant_milk" value="true">
          <label for="checkbox_1">Serves plant milk</label>
        </div>
        <div>
          <input type="checkbox" id="serves_food_checkbox" name="serves_food" value="true">
          <label for="checkbox_1">Serves food</label>
        </div>
        <div>
          <input type="checkbox" id="serves_smoothies_checkbox" name="serves_smoothies" value="true">
          <label for="checkbox_1">Serves smoothies</label>
        </div>
        <div>
          <input type="checkbox" id="air_conditioning_checkbox" name="air_conditioning" value="true">
          <label for="checkbox_1">Air conditioning</label>
        </div>
        <div>
          <input type="checkbox" id="wifi_restrictions_checkbox" name="no_wifi_restrictions" value="0">
          <label for="checkbox_1">Only show results with no wifi restrictions</label>
        </div>
        <div>
          <input type="checkbox" id="comfort_checkbox" name="by_comfort" value="2">
          <label for="checkbox_1">Only show results with comfort rating over 2</label>
        </div>
        <div>
          <input type="checkbox" id="busyness_checkbox" name="by_busyness" value="2">
          <label for="checkbox_1">Only show results with busyness rating over 2</label>
        </div>
        <div>
          <input type="checkbox" id="plug_sockets" name="by_plug_sockets" value="2">
          <label for="checkbox_1">Only show results with plug_sockets rating over 2</label>
        </div>
        <div>
          <button type="submit" class="btn-primary">Filter</button>
        </div>
      </form>
    </div>

    <div class="col-9" style="background-color:grey;">
      <div class="d-flex flex-row wrap">
        <% if @coffee_shops%>
          <%= render 'shared/cards' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
