<%= render 'show__hero_section' %>
<%= render 'show__feature_bar' %>
<%= render 'show__lower_section' %>

  <!--DIVIDING LINE -->
  <div class="divider"></div>

  <!-- FEATURES SECTION-->
  <div class="row">
    <% if @coffee_shop.serves_food %>
      <div class="col">
        <p class="padding">Serves food</p>
      </div>
    <% end %>
  </div>

  <!--DIVIDING LINE (ONLY DISPLAY IF COFFEE SHOP FEATURES EXIST) -->
  <% if
    @coffee_shop.serves_food
    # ||
    # @coffee_shop.serves_plant_milk ||
    # @coffee_shop.serves_smoothies ||
    # @coffee_shop.air_conditioning
    %>
      <div class="divider"></div>
  <% end %>

    <!-- TOGGLES SECTION-->
  <div class="row">
    <div class="col-lg-2">
      <p class="padding">Reviews</p>
    </div>
    <div class="col-lg-2">
      <p class="padding">Photos</p>
    </div>
    <div class="col-lg-2">
      <p class="padding">Map</p>
    </div>
  </div>

  <!--DIVIDING LINE-->
  <div class="divider"></div>
