<div class="radio-tile-group">
  <div class="input-container">
    <input id="walk" class="radio-button" type="radio" name="radio" />
    <div class="radio-tile">
      <div class="icon dollar-icon">
        <i class="fas fa-dollar-sign"></i>
      </div>
    </div>
  </div>

  <div class="input-container">
    <input id="bike" class="radio-button" type="radio" name="radio" />
    <div class="radio-tile">
      <div class="icon dollar-icon">
        <i class="fas fa-dollar-sign"></i>
        <i class="fas fa-dollar-sign"></i>
      </div>
    </div>
  </div>

  <div class="input-container">
    <input id="drive" class="radio-button" type="radio" name="radio" />
    <div class="radio-tile">
      <div class="icon dollar-icon">
        <i class="fas fa-dollar-sign"></i>
        <i class="fas fa-dollar-sign"></i>
        <i class="fas fa-dollar-sign"></i>
      </div>
    </div>
  </div>
</div>
