<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<h1>Flickity - freeScroll</h1>

<!-- Flickity HTML init -->
<div class="carousel"
  data-flickity='{ "freeScroll": true }'>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
</div>




<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
