//
* {
  margin: 0;
  padding: 0;
  color: $white;
  body {
    background-color: $dark-gray;
  }
  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
  .light {
    font-weight: 300;
  }
  .regular {
    font-weight: 400;
  }
  .bold {
    font-weight: 700;
  }
}

.padding {
  padding: $spacer;
}

.padding-top {
  padding-top: $spacer;
}

.padding-top-bottom {
  padding-top: $spacer;
  padding-bottom: $spacer;
}

.padding-top-bottom-sm {
  padding-top: $spacer / 2;
  padding-bottom: $spacer / 2;
}

.padding-left-right {
  padding-left: $spacer;
  padding-right: $spacer;
}

.padding-left-right-sm {
  padding-left: $spacer / 2;
  padding-right: $spacer / 2;
}

.margin-right-sm {
  margin-right: $spacer / 2;
}

.margin-right {
  margin-right: $spacer;
}

.margin-right-lg {
  margin-right: $spacer * 2;
}

.margin-right-xl {
  margin-right: $spacer * 3;
}

.margin-right-xxl {
  margin-right: $spacer * 4;
}

.margin-bottom-lg {
  margin-bottom: $spacer * 2;
}

.margin-bottom-xl {
  margin-bottom: $spacer * 3;
}

.margin-bottom-xxl {
  margin-bottom: $spacer * 4;
}

.left-margin {
  margin-left: $spacer;
}

.margin-top {
  margin-top: $spacer;
}

.margin-top-lg {
  margin-top: $spacer * 2;
}

.margin-top-xl {
  margin-top: $spacer * 3;
}

.margin-top-xxl {
  margin-top: $spacer * 4;
}

.bottom-padding {
  padding-bottom: $spacer;
}

.padding-right {
  padding-right: $spacer;
}

.padding-right-sm {
  padding-right: $spacer / 2;
}

// 40
// 30
// 20
// 15

.dark-gray {
  color: $dark-gray;
}

#bootstrap-overrides {
  a {
    color: $dark-gray;
  }
  h1, h2, h3, h4, h5, h6, p, a {
    margin: 0px;
    text-decoration: none;
  }
  p {
    font-weight: 300;
  }
}
