//
* {
  margin: 0;
  padding: 0;
  color: $white;
  body {
    background-color: $dark-gray;
  }
  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
  a {
    color: $dark-gray;
  }
  .light {
    font-weight: 300;
  }
  .regular {
    font-weight: 400;
  }
  .bold {
    font-weight: 700;
  }
}

.padding {
  padding: $spacer;
}

.padding-top-bottom {
  padding-top: $spacer;
  padding-bottom: $spacer;
}

.right-margin {
  margin-right: $spacer;
}

.left-margin {
  margin-left: $spacer;
}

.top-margin {
  margin-top: $spacer;
}

.bottom-padding {
  padding-bottom: $spacer;
}

// 40
// 30
// 20
// 15

.dark-gray {
  color: $dark-gray;
}

#bootstrap-overrides {
  a {
    color: $dark-gray;
  }
  h1, h2, h3, h4, h5, h6, p, a {
    margin: 0px;
  }
  p {
    font-weight: 300;
  }
}
