// Specific CSS for your home-page
.fullscreen {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-bg {
    background-image: asset-url('petr-sevcovic-594807-unsplash_1920X1280');
    z-index: -1;
    position: absolute;
    top: 0px;
}

.search-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
