// Specific CSS for your home-page
* {
margin: 0;
padding: 0;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-bg {
    background-image: asset-url('petr-sevcovic-594807-unsplash.jpg');
  }

.search-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container > h1 {
  color: white;
}

.search-container > p {
  color: white;
}
