.cover-image {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cover-image-bg {
    background-image: asset-url('petr-sevcovic-594807-unsplash.jpg');
}

.search-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-padding {
  padding-top: 25vh;
}
