.cover-image-container {
  width: 100vw;
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid $white;
}

.cover-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.absolute-element {
  position: absolute;
}

.relative-element {
  position: relative;
}

.cover-image-text-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 100%;
  border-bottom: 1px solid $white;
  height: 1px;
}

// style 
.hero-styles {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8));
}

.rating-block {
  width: 10%;
}

#price-rating-block {
  width: 7%;
}

.review {
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
}

.review p {
  font-size: 14px;
}
