<% if resource.errors.any? %>
  <div class="notification is-danger is-marginless is-radiusless" data-controller="notification-dismissal">
    <button class="delete" data-target="notification-dismissal.dismissButton" data-action="notification-dismissal#dismissNotification"></button>
    <!-- <h2> -->
      <%#= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    <!-- </h2> -->
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
