<div class="notification is-<%= "#{@notice_class}" %> is-marginless is-radiusless flash <%= "home-flash" if @current_page == "/" %>" data-controller="notification-dismissal">
  <button class="delete" data-action="notification-dismissal#dismissNotification"></button>
  <ul>
    <li><%= @value %></li>
  </ul>
</div>