<li data-tab-id="<%= @tab_id %>" data-target="tabs.tab">
  <a class="u-no-child-pointer-events" data-action="click->tabs#toggleTab">
    <span class="icon is-small">
      <i aria-hidden="true" class="fas fa-<%= @icon_name %>"></i>
    </span>
    <span><%= @tab %></span>
  </a>
</li>
