@media screen and (max-width: 1023px) {
  .is-paddingless-mobile {
    padding: 0 !important;
  }
  .is-padding-small-mobile {
    padding: 1rem !important;
  }
  .is-offscreen-left-mobile {
    left: -100%;
  }
}