// Padding
.u-padding-lr-0px {
  padding-left: 0px;
  padding-right: 0px;
}

.u-padding-tb-0px {
  padding-top: 0px;
  padding-bottom: 0px;
}

.u-padding-tb-30px {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-padding-t-10px {
  padding-top: 10px;
}

.u-padding-b-5px {
  padding-bottom: 5px;
}

// Width & Height
.u-width-250px {
  width: 250px;
}

// Cursor
.u-pointer {
  cursor: pointer;
}

.u-no-pointer-events {
  pointer-events: none;
}

// Centering
.u-top-auto {
  top: auto !important;
}

// Scrolling
.u-lock-scrolling {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

// Positioning
.u-bottom-minus-1px {
  bottom: -1px !important;
}