<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item">
        <div>
          <p class="heading">City</p>
          <p class="title">Melbourne</p>
        </div>
      </div>
      <div class="level-item">
        <div>
          <p class="heading">Average Wifi Speed</p>
          <p class="title">56Mbps</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Listings on RemoteKick</p>
          <p class="title">47</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div class="field">
          <div class="control">
            <div class="select is-primary">
              <select>
                <option>Top rated</option>
                <option>Distance</option>
                <option>Wifi Speed</option>
                <option>Price</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="columns">
      <!-- FILTERS -->
      <div class="column notification is-one-third">
        <!-- FILTER > LOCATION -->
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="location" placeholder="Location" value="Melbourne">
            <span class="icon is-small is-left">
              <i class="fas fa-city"></i>
            </span>
          </p>
        </div>
        <!-- FILTER > DISTANCE -->
        <div class="field">
          <div class="control is-expanded has-icons-left">
            <div class="select is-fullwidth">
              <select>
                <option selected>Distance</option>
                <option>1 Kilometer</option>
                <option>3 Kilometers</option>
                <option>5 Kilometers</option>
                <option>10 Kilometers</option>
              </select>
            </div>
            <div class="icon is-small is-left">
              <i class="fas fa-map-marker-alt"></i>
            </div>
          </div>
        </div>
        <!-- FILTER > RATING -->
        <div class="field">
          <div class="control is-expanded has-icons-left">
            <div class="select is-fullwidth">
              <select>
                <option selected>Rating</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
              </select>
            </div>
            <div class="icon is-small is-left">
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>

        <!-- FILTER > PLUG SOCKETS -->
        <div class="field">
          <label class="label">Plug sockets</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="foobar">:(</label>
            <label class="radio">
              <input type="radio" name="foobar">:|</label>
            <label class="radio">
              <input type="radio" name="foobar">:)</label>
          </div>
        </div>

        <!-- FILTER > COMFORT -->
        <div class="field">
          <label class="label">Comfort</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="foobar">:(</label>
            <label class="radio">
              <input type="radio" name="foobar">:|</label>
            <label class="radio">
              <input type="radio" name="foobar">:)</label>
          </div>
        </div>

        <!-- FILTER > BUSYNESS -->
        <div class="field">
          <label class="label">Busyness</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="foobar">:(</label>
            <label class="radio">
              <input type="radio" name="foobar">:|</label>
            <label class="radio">
              <input type="radio" name="foobar">:)</label>
          </div>
        </div>

        <!-- FILTER > WIFI RESTRICTIONS -->
        <div class="field">
          <label class="checkbox">
            <input type="checkbox">Filter out venues with WiFi restrictions
          </label>
        </div>

        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
      </div>
      <div class="column notification is-secondary has-text-centered">
        <p>MAP GOES HERE</p>
        <div class="columns">
          <div class="column is-one-quarter has-text-centered">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </div>
          <div class="column is-one-quarter has-text-centered">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </div>
          <div class="column is-one-quarter has-text-centered">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </div>
          <div class="column is-one-quarter has-text-centered">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 45">3</a></li>
        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">4</a></li>
        <li><a class="pagination-link" aria-label="Goto page 47">5</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 86">6</a></li>
      </ul>
    </nav>
  </div>
</section>