<section class="hero is-medium is-bold hero-image">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2 has-text-white">
        Primary bold title
      </h1>
      <h2 class="subtitle is-6 has-text-white">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ad est enim excepturi aliquid.
      </h2>
      <h2 class="subtitle is-6 has-text-white">
        Based on 165 reviews
      </h2>
    </div>
    <nav class="level is-mobile">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-6 has-text-white">
            Open now
          </p>
        </div>
      </div>
    
      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <i class="fas fa-map-marker-alt has-text-white"></i>
          <p class="subtitle is-6 has-text-white">
            X miles away
          </p>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item">
          <div>
            <p class="heading">Wifi Speed</p>
            <p class="title">56Mbps</p>
          </div>
        </div>
      <div class="level-item">
        <div>
          <p class="heading">Price</p>
          <p class="title">
            <i class="fas fa-dollar-sign has-text-primary"></i>
            <i class="fas fa-dollar-sign has-text-primary"></i>
            <i class="fas fa-dollar-sign"></i>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Comfort</p>
          <p class="title">
            <i class="fas fa-smile has-text-primary"></i>
            <i class="fas fa-smile has-text-primary"></i>
            <i class="far fa-smile"></i>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Plug sockets</p>
          <p class="title">
            <i class="fas fa-smile has-text-primary"></i>
            <i class="fas fa-smile has-text-primary"></i>
            <i class="far fa-smile"></i>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Quietness</p>
          <p class="title">
            <i class="fas fa-smile has-text-primary"></i>
            <i class="fas fa-smile has-text-primary"></i>
            <i class="far fa-smile"></i>
          </p>
        </div>
      </div>
    </nav>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button">Post comment</button>
              </p>
            </div>
          </div>
        </article>
        <% 10.times do %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Barbara Middleton</strong>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                <br>
                <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
              </p>
            </div>
          </div>
        </article>
        <% end %>
      </div>
      <div class="column">
        Second column
      </div>
    </div>
  </div>
</section>