<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input autofocus="autofocus" autocomplete="email" class="input" placeholder="Email" data-target="password-validation.email" data-action="password-validation#emailEntryValidation" type="email" value="" name="user[email]" id="user_email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input autofocus="autofocus" autocomplete="email" class="input" placeholder="Email" data-target="password-validation.email" data-action="password-validation#emailEntryValidation" type="email" value="" name="user[email]" id="user_email">
    
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>