<% if notice %>
  <div id="error_explanation" class="notification is-danger is-marginless" data-controller="notification-dismissal">
  <button class="delete" data-target="notification-dismissal.dismissButton" data-action="notification-dismissal#dismissNotification"></button>
  <ul>
    <li><%= notice %></li>
  </ul>
</div>
<% end %>
<% if alert %>
  <div id="error_explanation" class="notification is-danger is-marginless" data-controller="notification-dismissal">
  <button class="delete" data-target="notification-dismissal.dismissButton" data-action="notification-dismissal#dismissNotification"></button>
  <ul>
    <li><%= alert %></li>
  </ul>
</div>
<% end %>

