#map {
  width: 100%;
  height: 450px;
}

// .mapboxgl-popup {
//   max-width: 200px;
// }

// .mapboxgl-popup-content {
//   text-align: center;
//   font-family: 'Open Sans', sans-serif;
// }

// #map-card > h1, h2, h3, h4, h5, h6, p {
//   color: black;
// }


.mapboxgl-popup-content {
  position: relative;
  background: transparent !important;
  border-radius: 0px !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
  padding: 0px !important;
  // pointer-events: auto;
}
