<div class="tabs is-centered">
  <ul>
    <%= render(TabComponent.new(tab: "Map", icon_name: "map-marked-alt")) %>
    <%= render(TabComponent.new(tab: "Reviews", icon_name: "comments")) %>
  </ul>
</div>