<section class="section is-hidden" data-section-id="reviews" data-target="tabs.contentSection">
  <div class="container">
    <div class="columns">
      <div class="column">
        <% if policy(review).new?(@venue) %>
          <%= render "venues/show_partials/show__new_review_quickform", venue: @venue, review: review %>
        <% end %>
        <% @venue.reviews.order('updated_at DESC').each do |review| %>
          <%= render partial: "venues/show_partials/review_media_item", locals: { review: review.decorate } %>
        <% end %>
      </div>
      <div class="column">
        <!-- Second column -->
      </div>
    </div>
  </div>
</section>