<div class="container">
  <h1>wifiwarriors</h1>
  <p>Remote working. On caffeine.</p>

  <form action="/coffee_shops" method="get">
    <input type="text" name="address" placeholder="Which city are you working in?">
    <input type="submit">
  </form>
</div>
