<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<form action="/coffee_shops" method="get">
  <input type="text" name="address" placeholder="Which city are you working in?">
  <input type="submit">
</form>
