<div class="fullscreen home-bg">
  <div class="search-container">
    <h1>wifiwarriors</h1>
    <p>Remote working. On caffeine.</p>
    <div class="container">
      <form action="/coffee_shops" method="get">
          <div class="form-group col-xs-6">
            <input type="text" name="address" class="form-control" placeholder="Where are you working?">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
