<div class="fullscreen home-bg">
  <div class="search-container">
    <h1>wifiwarriors</h1>
    <p>Remote working. On caffeine.</p>
    <div class="container">
      <%= form_with url: coffee_shops_path, local: true, method: :get, class: "form-group col-xs-6" do |form| %>
        <%= form.text_field :address, class: "form-control" %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
