<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Location</p>
      <p class="title is-size-3 is-size-6-touch"><%= searched_location(params[:location]) %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Avg. Wifi Speed</p>
      <p class="title is-size-3	is-size-6-touch"><%= average_wifi_speed(params[:location]) %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Total Listings</p>
      <p class="title is-size-3 is-size-6-touch"><%= total_listings_count(params[:location]) %></p>
    </div>
  </div>
</nav>