<% if policy(venue).update? %>
  <%= link_to(edit_venue_path(venue)) do %>
    <button class="button">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit Details</span>
    </button>
  <% end %>
<% end %>

<%= render 'show__hero_section' %>
<%= render 'show__feature_bar' %>
<%= render 'show__lower_section' %>

  <!--DIVIDING LINE -->
  <div class="divider"></div>

  <!-- FEATURES SECTION-->
  <div class="row">
    <% if @venue.serves_food %>
      <div class="col">
        <p class="padding">Serves food</p>
      </div>
    <% end %>
  </div>

  <!--DIVIDING LINE (ONLY DISPLAY IF COFFEE SHOP FEATURES EXIST) -->
  <% if
    @venue.serves_food
    # ||
    # @venue.serves_plant_milk ||
    # @venue.serves_smoothies ||
    # @venue.air_conditioning
    %>
  <% end %>

    <!-- TOGGLES SECTION-->
  <div class="row">
    <div class="col-lg-2">
      <p class="padding">Reviews</p>
    </div>
    <div class="col-lg-2">
      <p class="padding">Photos</p>
    </div>
    <div class="col-lg-2">
      <p class="padding">Map</p>
    </div>
  </div>