<%= render 'venues/show_partials/show__hero_section' %>
<%= render 'venues/show_partials/show__feature_bar' %>
<%= render 'venues/show_partials/show__lower_section' %>
<div class="section">
  <div class="container">
    <%= render 'venues/shared_partials/map' %>
  </div>
</div>

<!--DIVIDING LINE -->
<div class="divider"></div>

<!-- FEATURES SECTION-->
<% if @venue.feature_set.present? %>
  <% if @venue.feature_set.air_conditioning %>
    <h6>Has air conditioning</h6>
  <% end %>
  <% if @venue.feature_set.serves_food %>
    <% raise %>
    <h6>Serves Food</h6>
  <% end %>
<% end %>

<!-- TOGGLES SECTION-->
<div class="row">
  <div class="col-lg-2">
    <p class="padding">Photos</p>
  </div>
  <div class="col-lg-2">
    <p class="padding">Map</p>
  </div>
</div>