<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item">
        <div>
          <p class="heading">City</p>
          <p class="title">Melbourne</p>
        </div>
      </div>
      <div class="level-item">
        <div>
          <p class="heading">Average Wifi Speed</p>
          <p class="title">56Mbps</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Listings on RemoteKick</p>
          <p class="title">47</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div class="field">
          <div class="control">
            <div class="select is-primary">
              <select>
                <option>Top rated</option>
                <option>Distance</option>
                <option>Wifi Speed</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="columns">
      <div class="column notification is-primary is-one-third">
      </div>
      <div class="column notification is-secondary has-text-centered">
        <p>MAP GOES HERE</p>
        <div class="columns">
          <div class="column is-one-quarter has-text-centered">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </div>
          <div class="column is-one-quarter has-text-centered">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </div>
          <div class="column is-one-quarter has-text-centered">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </div>
          <div class="column is-one-quarter has-text-centered">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 45">3</a></li>
        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">4</a></li>
        <li><a class="pagination-link" aria-label="Goto page 47">5</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 86">6</a></li>
      </ul>
    </nav>
  </div>
</section>