<div class="range-slider">
	<div class="range-group">
		<input class="range-input" id="location-range-slider" value="1" min="1" max="4" type="range" />
	</div>
</div><!-- // range-slider -->

<!-- With number fields -->
<div class="filter level-filter level-req">
  <div id="rangeSlider" class="range-slider">
    <label>Levels:</label>

    <div class="number-group">
      <input class="number-input" type="number" value="10" min="0" max="50" /> to 
      <input class="number-input" type="number" value="50" min="0" max="50" />
    </div>

    <div class="range-group">
      <input class="range-input" value="10" min="1" max="50" step="1" type="range" />
      <input class="range-input" value="50" min="1" max="50" step="1" type="range" />
    </div>
  </div>
</div><!-- // filter level-filter -->

<div class="test-div"></div>