<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Leave a review for X</h1>
    <div class="field">
      <label class="label">Criteria</label>
        <label class="radio">
          <input type="radio" name="answer">
          <a class="button is-primary is-outlined is-large">
            <span class="icon is-medium has-text-light">
              <i class="fas fa-2x fas fa-frown"></i>
            </span>
          </a>
        </label>
        <label class="radio">
          <input type="radio" name="answer">
          <a class="button is-primary is-outlined is-large">
            <span class="icon is-medium has-text-light">
              <i class="fas fa-2x fas fa-meh"></i>
            </span>
          </a>
        </label>
        <label class="radio">
          <input type="radio" name="answer">
          <a class="button is-primary is-outlined is-large">
            <span class="icon is-medium has-text-light">
              <i class="fas fa-2x fas fa-smile"></i>
            </span>
          </a>
        </label>
      </div>
      <button class="button is-primary">Submit</button>
      <button class="button is-light">Cancel</button>
      <!-- <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div> -->
      </div>
    </div>
  </section>