<section class="hero  is-fullheight-with-navbar  hero-image">
  <div class="hero-body">
    <div class="container  has-text-centered">
      <h1 class="title  has-text-white">
        RemoteKick
      </h1>
      <h2 class="subtitle  has-text-white">
        Remote working. On caffeine.
      </h2>
      <div class="columns">
        <div class="column is-paddingless"></div>
        <div class="column is-two-fifths">
          <input class="input is-primary  is-rounded  has-text-centered" type="text" placeholder="Search for a city">
        </div>
        <div class="column is-paddingless"></div>
      </div>
    </div>
  </div>
</section>