.navbar-menu.is-active {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: -100%;
  transition: all 1s ease;
  .is-test {
    background-color: red;
  }
  .navbar-end {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 80%;
    text-align: center;
    font-size: 1.3rem;
    justify-content: space-around;
  }
}

.c-navbar {
  &__logo {
    height: max-content;
  }
}
