#navbar-lewagon {
  justify-content: space-between;
  background: white;
}

#navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Transparent version

#navbar-lewagon-transparent {
  justify-content: space-between;
  z-index: 1;
  .nav-link {
    color: $white;
  }
}

#navbar-lewagon-transparent .navbar-collapse {
  flex-grow: 0;
}

#navbar-lewagon-transparent .navbar-brand img {
  width: 40px;
}
