/**
 * Rating Component
 */
#test-page {
  ul {
    display: flex;
    overflow:hidden;
    position: relative;
    list-style: none;
    font-size: 1.5em;
    line-height: 1;
  }

  ul, li {
    margin:0;
    padding:0;
  }

  // li {
  //   margin-right:.25em;
  // }

  input {
    display:none;
  }

  label {
    display:block;
    color:transparent;
    width:1.22em;
    height:1em;
    cursor:pointer;

    &::before {
      pointer-events:none;
      position:absolute;
      left:0;
      top:0;
      color:#404849;
      letter-spacing:.25em;
      z-index:1;
    }
  }

  input:checked + label::before {
    color: $primary;
    z-index:2;
  }

  label:hover::before {
    color: $primary;
    z-index:3;
    // text-shadow:0 0 .125em #F5D27C;
  }


  li:nth-child(1) label::before {
    content:'★';
  }

  li:nth-child(2) label::before {
    content:'★★';
  }

  li:nth-child(3) label::before {
    content:'★★★';
  }

  li:nth-child(4) label::before {
    content:'★★★★';
  }

  li:nth-child(5) label::before {
    content:'★★★★★';
  }


  // /**
  //  * Env
  //  */
  // html {
  //   background:#fff;
  //   color:#BFC6D4;
  // }

  // html, body {
  //   height: 100%;
  // }

  // body {
  //   display:flex;
  //   justify-content:center;
  //   align-items:center;
  // }
}
