<nav class="navbar is-fixed-bottom is-hidden-desktop level is-mobile has-background-dark is-fixed-bottom is-marginless u-bottom-minus-1px">
  <div class="level-item has-text-centered">
    <div id="mobile-filters-button" class="level-item has-text-white has-text-centered" data-element="indexFilters" data-action="click->mobile-index-navigation#handleClick">
      <i class="fas fa-sliders-h"></i>
    </div>
    <div data-element="map" data-action="click->mobile-index-navigation#handleClick">
      <p class="heading has-text-white is-size-6">Map</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div data-element="venuesList" data-action="click->mobile-index-navigation#handleClick">
      <p class="heading has-text-white is-size-6">List</p>
    </div>
  </div>
</nav>