<!-- <div class="new_review_alert">
  <h2>Leave a review for X</h2>
  <p>Thanks for leaving a review for X>. Reviews help us to ensure that the best and most up-to-date information about venues can be offered to our community of remote workers.</p>
</div> -->
<%= render partial: "review_form", locals: { review: @review.decorate, venue: @venue } %>